[submodule "contracts"]
	path = contracts
	url = https://github.com/PuppetCopy/contracts.git
[submodule "indexer"]
	path = indexer
	url = https://github.com/PuppetCopy/indexer.git
[submodule "sequencer"]
	path = sequencer
	url = https://github.com/PuppetCopy/sequencer.git
  