name: Build Indexer

on:
  push:
    branches: [main]
    paths:
      - 'middleware/**'
      - '.github/workflows/indexer-release.yml'
  workflow_dispatch:

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GH_PAT }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./indexer/Dockerfile
          push: true
          tags: ghcr.io/puppetcopy/indexer:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64